@model SimkaDosenPenelitian
@using  Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutDosen.cshtml";
}


<!DOCTYPE html>
<html>



<head>
    <title>Profil @HttpContextAccessor.HttpContext.Session.GetString("Nama") - SIMKA UAJY</title>



</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                     
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">

                            <li class="breadcrumb-item active">Home</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
                {
                    <div class="alert alert-success alert-dismissible">


                        <h4>
                            Pemberitahuan
                        </h4>

                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x </button>
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
                {
                    <div class="alert alert-danger alert-dismissible">

                        <h5>Pemberitahuan</h5>

                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x </button>
                        @TempData["ErrorMessage"]
                    </div>
                }
                <div class="row">
                    <div class="col-md-3">



                        <!-- Profile Image -->
                        <!-- Profile Image -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Biodata</h3>
                            </div>
                            <div class="card-body box-profile">
                                <div class="text-center">

                                    @if (Model.Karyawan.FileFoto != null)
                                    {
                        <img class="profile-user-img img-fluid img-circle"
                             src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.Karyawan.FileFoto)"
                             alt="User profile picture">}
                                </div>
                                <br>
                                <h4 class=" text-center"><b>@Model.Karyawan.Npp </b></h4>
                                <h3 class="profile-username text-center"> @Model.Karyawan.NamaLengkapGelar</h3>

                                <p class=" text-center">
                                    <b>

                                        @if (Model.Karyawan.IdUnitNavigation != null)
                                        {
                            @Model.Karyawan.IdUnitNavigation.NamaUnit
                                            <br>
                                                            @if (@Model.Karyawan.MstIdUnitNavigation != null)
                                                            {
                                            @if (@Model.Karyawan.IdUnitNavigation.NamaUnit != @Model.Karyawan.MstIdUnitNavigation.NamaUnit)
                                            {
                        @Model.Karyawan.MstIdUnitNavigation.NamaUnit}}}


                                    </b>
                                </p>


                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        @if (Model.Akademik != null)
                                        {
                            <b>Program Sudi:</b> <a class="float-right">@Model.Akademik.NamaUnitAkademik </a>}

                                    </li>
                                    <li class="list-group-item">
                                        <b>Tempat, Tanggal Lahir:</b> <a class="float-right">
                                            @Model.Karyawan.TempatLahir -
                                            @Convert.ToDateTime(Model.Karyawan.TglLahir).ToString("dd/MM/yyyy")
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email:</b> <a class="float-right">@Model.Karyawan.Email</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Nomor HP:</b> <a class="float-right">@Model.Karyawan.NoTelponHp</a>
                                    </li>
                                </ul>

                                <a>
                                    <b>Alamat:</b>
                                    @Model.Karyawan.Alamat
                                </a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- About Me Box -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Riwayat Pendidikan</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div style="overflow-x:auto;">
                                    <table id="tabelpendidikan" class="table-responsive table-body">
                                        <thead>
                                            <tr>
                                                <th> No</th>
                                                <th> Nama Sekolah</th>
                                                <th> Jenjang</th>
                                                <th> Program Studi</th>
                                                <th> Status</th>
                                                <th> Tahun Lulus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <button type="button" class="btn btn-success btn-block" style="width:100%;" onclick="goToUbahPassword()">Ubah Password</button>

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#biografi" data-toggle="tab">Biografi</a></li>

                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="biografi">
                                        <div class="card-body pad">
                                            <div class="mb-3">

                                                @Html.Raw(@Model.Karyawan.BiografiSingkat)


                                            </div>

                                        </div>

                                    </div>




                                </div>
                            </div>
                            <!-- /.tab-content -->

                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.container-fluid -->
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.2
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>


    <!-- /.control-sidebar -->



</body>
<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</html>
@section Scripts{


    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
    <script>
        function BukaModal() {
            $('#myModal').modal("show");


        }
    </script>
    <script>


        $(document).ready(function () {

            $("#example").DataTable({
                "deferLoading": 0,
                "lengthMenu": [[10, 25, 50, 100, 1000], [10, 25, 50, 100, "All"]],
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/SimkaDosen/LoadDataPengajaranAsync",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": true,
                        "searchable": true
                    }],


                "columns": [
                    {
                        "data": null, "sortable": false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "nama_mata_kuliah", "name": "nama_mata_kuliah", "autoWidth": true },
                    { "data": "nama_jenis_evaluasi", "name": "nama_jenis_evaluasi", "autoWidth": true },
                    { "data": "nama_kelas_kuliah", "name": "nama_kelas_kuliah", "autoWidth": true },


                    //
                ]

            });
        });
        $('#pengajaran').on('click', function () {
            $('#example').DataTable().draw()
        });
        $("#tabelpendidikan").DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "processing": true, // for show progress bar
            "destroy": true,
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/SimkaDosen/LoadDataRiwayatPendidikan",
                "type": "POST",
                "datatype": "json"
            },


            "columns": [
                {
                    "data": null, "sortable": false,
                    render: function (data, type, row, meta) {
                        return m0eta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "data": "namaSekolah", "name": "namaSekolah", "autoWidth": true },
                { "data": "deskripsi", "name": "deskripsi", "autoWidth": true },
                { "data": "programStudi", "name": "programStudi", "autoWidth": true },
                { "data": "status", "name": "status", "autoWidth": true },
                { "data": "tahunLulus", "name": "tahunLulus", "autoWidth": true },

            ]

        });
        function goToUbahPassword() {
            window.location.replace("/SimkaKaryawan/UbahPasswordFormKaryawan")
        }
    </script>
}
